numpy
requests
tqdm
wget
ffmpeg-python
faiss-cpu
librosa
scipy
soundfile
noisereduce
pedalboard
stftpitchshift
omegaconf
numba
torch==2.3.1
torchaudio
torchvision
torchcrepe
torchfcpe
einops
libf0
transformers
samplerate
six
pydub
onnx
onnx2torch
onnxruntime
julius
diffq
ml_collections
resampy
beartype
rotary-embedding-torch
scipy
